apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  type: LoadBalancer # Change to ClusterIP if using an Ingress Controller
  selector:
    app: django
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80